.container {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/103/922/original/Pink_trees_wallpaper.jpeg?1699939727");
  background-size: cover;
  max-width: 400px;
  height: 680px;
  background-repeat: no-repeat;
  color: white;
  display: block;
  text-align: center;
  box-shadow: 25px 0px 20px -33px rgba(0, 0, 0, 0.6),
    -25px 0px 20px -33px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(232, 116, 73, 0.851);
  border-radius: 6px;
  padding: 10px 15px 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: all 150ms ease-in-out;
}

select {
  width: 100%;
  padding: 10px 5px;
  color: rgba(220, 20, 60, 0.905);
  border: 1px solid;
  border-radius: 6px;
  border-color: white;
  background-color: #fed5d8;
  margin-bottom: 30px;
  font-size: 16px;
}
h1 {
  color: #27635a;
  margin-top: 30px;
  font-size: 38px;
}
p {
  margin: 10px 10px 0 10px;
  color: crimson;
  font-size: 30px;
}
.city {
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 8px;
  color: rgb(39, 32, 32);
  border-radius: 15px;
  box-shadow: 8px 8px 10px rgba(202, 122, 122, 0.2);
}

.date {
  opacity: 0.9;
}
.time {
  font-size: 32px;
  font-family: monospace;
  margin-top: 15px;
  align-items: center;
}

.second {
  color: #d6b11b;
}

.first {
  color: #1797a2;
}

small {
  font-size: 20px;
}

.currentCity {
  font-size: 56px;
  font-family: Arial, Helvetica, sans-serif;
}
.currentDate {
  color: #1797a2;
  font-size: 22px;
  padding-bottom: 20px;
}
.currentTime {
  color: rgb(39, 32, 32);
  font-size: 50px;
  font-family: monospace;
}
#zone {
  color: #d6b11b;
  font-size: 22px;
}
footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
